enhydris_instances:
  - name: openmeteo
    admins:
      - email: anthony@itia.ntua.gr
        name: Antonis Christofides
      - email: soulman@itia.ntua.gr
        name: Stefanos Kozanis
    time_zone: Europe/Athens
    site_id: 1
    site_url: openmeteo.org
    secret_key: 3urG6J^*@csMZSOTwUg.OLfU6MgQo$LK6Ey+-P^H+&rBOYhWMM
    account_activation_days: 1
    registration_open: True
    email_use_tls: True
    email_port: 587
    email_host: smtp.my.domain
    default_from_email: noreply@openmeteo.org
    email_host_user: openmeteo
    email_host_password: mypassword
    gunicorn_port: 8001

  - name: another_instance
    # This is another instance in the same machine, that uses the same
    # database as openmeteo, but filtered to show only a subset.
    # ... (the normal settings must be specified anyway and
    # ...  supplemented with those below.)
    use_db_of: openmeteo
    enhydris_site_station_filter: {'owner__id__exact': '9',}

  - name: a_third_instance
    # This database acts as an aggregator; it uses the Enhydris dbsync
    # application to get stuff from other databases.
    # ...
    # ...
    dbsync_remote_dbs:
      - kyy.hydroscope.gr
      - emy.hydroscope.gr

  - name: a_fourth_instance
    # Here are some optional variables:
    base_template: |
      {% raw -%}
      {% extends "base-sample.html" %}
      {% block footer %}
        Powered by salt-enhydris
      {% endblock %}
      {%- endraw %}

nginx:
  # The next parameters are optional
  ssl_private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    ...
    -----END RSA PRIVATE KEY-----
  ssl_certificate: |
    -----BEGIN CERTIFICATE-----
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    AB (this is the server certificate ) lmnopqrstuvwxyzABCDEFGHIJKL
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    ...
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    AB (this is the intermediate certificate; more may follow) HIJKL
    ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKL
    ...
    -----END CERTIFICATE-----

