enhydris_instances:
  - name: openmeteo
    admins:
      - email: anthony@itia.ntua.gr
        name: Antonis Christofides
      - email: soulman@itia.ntua.gr
        name: Stefanos Kozanis
    time_zone: Europe/Athens
    site_id: 1
    site_url: openmeteo.org
    secret_key: 3urG6J^*@csMZSOTwUg.OLfU6MgQo$LK6Ey+-P^H+&rBOYhWMM
    account_activation_days: 1
    registration_open: True
    email_use_tls: True
    email_port: 587
    email_host: smtp.my.domain
    default_from_email: noreply@openmeteo.org
    email_host_user: openmeteo
    email_host_password: mypassword
    gunicorn_port: 8001
    dbsync_remote_dbs:
      - kyy.hydroscope.gr
      - emy.hydroscope.gr
